@font-face {
	font-family: "SourceSansPro";
	src: url(./resources/fonts/SourceSansPro-Regular.otf) format('opentype');
}

html {
	font-size: 16px;
}

a,
button {
	cursor: pointer;
}

.navbar {
	height: 64px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero {
	display: flex;
	justify-content: space-between;
}

#heroImg {
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
	min-width: 100%;
}

.topPart {
	background-color: rgb(206, 203, 203);
}

.titleTop {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.85rem;
	font-weight: bold;
	text-align: left;
	line-height: 2.75rem;
	word-spacing: 0.5rem;
	color: rgb(65, 64, 64);
}

.topText {
	padding-bottom: 24px;
	padding-left: 16px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: left;
	line-height: 1.7rem;
	color: rgb(75, 75, 75);
}

.button {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.start {
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	padding: 10px 100px;
	border: none;
	border-radius: none;
	text-decoration: none;
	color: white;
	background-color: rgb(119, 119, 119);
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
}

.start:hover {
	cursor: pointer;
}

.start:active {
	margin-top: 5px;
	margin-bottom: 27px;
	color: rgb(189, 189, 189);
	background-color: black;
	transition-property: background-color, color, margin;
	transition-duration: 120ms;
}
