@font-face {
	font-family: "SourceSansPro";
	src: url(./resources/fonts/SourceSansPro-Regular.otf) format('opentype');
}

html {
	font-size: 16px;
}

.navbar {
	height: 64px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topPart {
	background-color: rgb(206, 203, 203);
}

.titleTop {
	padding-top: 32px;
	padding-left: 16px;
	padding-bottom: 32px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.85rem;
	font-weight: bold;
	text-align: left;
	line-height: 2.75rem;
	word-spacing: 0.5rem;
	color: rgb(65, 64, 64);
}

.topText {
	padding-bottom: 24px;
	padding-left: 16px;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: left;
	line-height: 1.7rem;
	color: rgb(75, 75, 75);
}

.start {
	
}
